* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px auto 60px auto;
  width: 90%;
  max-width: 400px;
  padding-bottom: 30px;
  border-bottom: 2px solid #333;
}

header h1 {
  white-space: nowrap;
}

.grid {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  width: 90%;
  max-width: 400px;
}

.boxes {
  display: grid;
  gap: 12px;
  grid-template-areas:
  "input input input input input"
  "input input input input input"
  "input input input input input"
  "input input input input input"
  "input input input input input"
  "input input input input input"
  ;
}

.input-box {
  border-radius: 8px;
  border: 3px solid #cccccc;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  height: 65px;
  width: 65px;
}

.input-box:hover {
  border: 3px solid darkgrey;
}

@media screen and (max-width: 767px) {
  header {
    width: 95%;
    max-width: 300px;
    margin: 30px auto 40px auto;
  }

  header h1 {
    font-size: 1.5rem;
  }

  .grid {
    width: 95%;
    max-width: 300px;
  }

  .boxes {
    gap: 6px;
  }

  .input-box {
    font-size: 20px;
    height: 50px;
    width: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  header {
    width: 90%;
    max-width: 350px;
    margin: 50px auto 50px auto;
  }

  .grid {
    max-width: 350px;
  }

  .boxes {
    gap: 10px;
  }

  .input-box {
    font-size: 28px;
    height: 60px;
    width: 60px;
  }
}
