* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.grid {
  width: 400px;
  height: 600px;
  display: grid;
  grid-template-areas:
  "result result result result"
  "c c arrow divide"
  "seven eight nine multiply"
  "four five six minus"
  "one two three plus"
  "zero zero zero equals"
  ;
}

.result {
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 40px;
  grid-area: result;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 10px;
}

button {
  appearance: none;
  font-size: 40px;
}

.operators {
  background-color: #df974c;
  color: white;
  text-align: center;
}

.c {
  grid-area: c;
}

.arrow {
  grid-area: arrow;
}

.divide {
  grid-area: divide;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.multiply {
  grid-area: multiply;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.minus {
  grid-area: minus;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.plus {
  grid-area: plus;
}

.zero {
  grid-area: zero;
}

.equals {
  grid-area: equals;
}
